# Go
*.exe
*.exe~
*.dll
*.dylib
*.test
*.out
ddvpn-gate
/bin/
/vendor/

# Environment variables
.env

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db
